//@import "node_modules/bootstrap/scss/variables";
:host{
	min-height: 700px;
	overflow-y: auto;
}

.sign-content{	
	display: flex;
	justify-content: center;
	align-items: center;

	.card-signin{
		width: 370px;

		.login-form{
			padding: 4rem 2rem;
		}
	}
	.card-signup{
		width: 650px;
	}
}
