//@import "node_modules/bootstrap/scss/variables";
:host{
	//min-height: 700px;
	//overflow-y: scroll;
}

.sign-content{	
	overflow-y: scroll;	
	display: flex;
	justify-content: center;
	align-items: center;	

	.card-signin{
		width: 370px;
		max-width: 370px;
		max-height: 650px;

		.login-form{
			padding: 4rem 2rem;			
		}
	}
	.card-signup{
		width: 370px;

		.signup-form{
			padding: 1rem 2rem 2rem 2rem;			
		
			.signup-box{
				max-height: 220px;
				overflow-y: scroll;
			}
		}
	}
}
