<div class="job-card d-flex flex-column mat-elevation-z1" (mouseover)='isMouseOver(true)' (mouseout)='isMouseOver(false)' [ngClass]="{'shadow': mouseOver}">
	<div class="card-photo mb-3">
		<img class="rounded shadow-sm" height="60px" width="60px" src="https://logo.clearbit.com/baremetrics.com?size=60" />
	</div>
	<div class="card-title my-2">
		{{ cardVacancy.titulo}}
	</div>
	<div class="description mb-2">
		{{cardVacancy.descricao | slice:0:100 }}
	</div>
	<div class="card-tags flex-wrap mt-auto mb-2">		
		<div *ngFor="let criterio of cardVacancy.criterios; let ix = index" class="tag btn-outline-secondary border rounded-lg py-1 px-2">
			<span>{{ criterio.titulo}}</span>
		</div>
	</div>
	<div class="card-buttons d-flex align-content-end flex-nowrap mx-2">
		<div *ngIf="isCandidateLogged()" class="card-btn  w-100 mr-2">
			<button class="my-auto mx-auto w-100 btn btn btn-primary rounded-lg" type="button" (click)="candidateVacancy()">
				<span>Candidatar</span>
			</button>
		</div>
		<div class="card-btn w-100 ml-2">
			<button class="my-auto mx-auto w-100 btn btn-outline-primary rounded-lg" type="button" (click)="goTojobDetails()">
				<span>Detalhes</span>
			</button>
		</div>
	</div>
</div>