// regular style toast 
@import './../node_modules/ngx-toastr/toastr';

//font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");



// CUSTOM FONT ANGUALR MATERIAL 
// @import '~@angular/material/theming';

// $custom-typography: mat-typography-config($font-family: '"Poppins", sans-serif');
// @include mat-core($custom-typography);

/////////////////////////////////////////////////

* {
	font-family: 'Poppins', sans-serif;
	//font-weight: 600;
}


body{	
	width: 100vw;
    height: 100vh;
}

.debug-border{
	@apply border-2 border-dashed border-gray-400;
}