@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.page-content{		
	mat-toolbar{
		background-color: white;
		height: 48px;
	}
	.left-side, .img-logo{
		height: 30px;
		width: 30px;		
	}

	.spacer{
		flex: 1 1 auto;
	}

	.center{
	}

	.right-side{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
}

button{	
	&.active{
		font-weight: 800;
		color: theme-color("primary");;
	}
	&:focus {
		outline:none;
	}
}