<div class="page-content mx-5">
	<mat-toolbar class="d-flex justify-content-between px-0">
		<div class="left-side">
			<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
				<p>Logo</p>
			</button>
			<span>Ventura HR</span>
		</div>
		
		<div class="center d-flex flex-nowrap">
			<button mat-button>Empregos</button>
			<button mat-button>Candidato</button>
			<button mat-button>Empresas</button>
			
			<!-- <a class="px-2 my-auto"></a> -->
		</div>

		<div class="right-side">
			<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
				<mat-icon>notifications_none</mat-icon>
			</button>
			
			<button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with share icon">
				<mat-icon>account_circle</mat-icon>
			</button>

			<mat-menu #menu="matMenu">
				<button mat-menu-item [routerLink]="[ '/access']">
					<mat-icon>account_circle</mat-icon>
					<span>Login</span>
				</button>
				<button mat-menu-item>
					<mat-icon>person</mat-icon>
					<span>Perfil</span>
				</button>
				<button mat-menu-item>
					<mat-icon>settings</mat-icon>
					<span>Configurações</span>
				</button>
				<button mat-menu-item>
					<mat-icon>subdirectory_arrow_left</mat-icon>
					<span>Sair</span>
				</button>
			</mat-menu>
		</div>
	</mat-toolbar>
</div>