$side-bar: 250px;

.page-content{
	background-color: rgb(240, 240, 240);
	overflow-y: auto;
}

.add-btn{
	width: $side-bar;		
	max-width: $side-bar - 35px;
	button{
		font-size: small;	
	}
}
.search-bar{
	background-color: lightgoldenrodyellow;
}

.main{		

	.sidebar{		
		width: $side-bar;
		height: fit-content;		
		
		.filter{
	
		}
	}
	
	.jobs-list{
		background-color: lightblue;
	}
}	




