<div class="page-content px-5 py-4 h-100">

	<!-- SEARCH BAR -->
	<div class="d-flex nowrap mx-0 mb-4">
		<div class="search-bar w-100 debug-border">
			<app-search-bar></app-search-bar>
		</div>
	</div>

	<div class="main d-flex justify-content-center h-auto debug-border">

		<!-- FILTERS -->
		<!-- <div class="sidebar debug-border">
			<div class="add-btn d-flex">
				<button class="align-self-center mx-auto btn btn-primary rounded-lg w-75" type="button" (click)="createVacancy()">
					<span>Criar Vaga</span>
				</button>
			</div>
			<div class="pr-5">

				Filtros
				<div class="filter">
					<app-filter-box></app-filter-box>
				</div>

				<div class="filter">
					<app-filter-box></app-filter-box>
				</div>

				<div class="filter">
					<app-filter-box></app-filter-box>
				</div>

				<div class="filter">
					<app-filter-box></app-filter-box>
				</div>
			</div>
		</div> -->

		<!-- JOB CARDS -->
		<div class="container">
			<div class="jobs-list debug-border h-auto">
				<div class="my-4 mx-auto" *ngFor="let item of vacancyList">
					<job-card [cardData]="item"></job-card>
				</div>
			</div>
		</div>
	</div>
</div>