<div class="page-content px-5 py-4 h-100">

	<!-- SEARCH BAR -->
	<div class="d-flex nowrap mx-0 mb-4">
		<div class="search-bar container w-100">
			<search-home (searchChanges)="searchVacancies($event)"></search-home>
		</div>
		<div *ngIf="isCompanyLogged()" class="add-btn d-flex">
			<button class="align-self-center mx-auto btn btn-primary rounded-lg w-75" type="button" (click)="createVacancy()">
				<span>Criar Vaga</span>
			</button>
		</div>
	</div>

	<div class="main d-flex justify-content-center h-auto">

		<!-- JOB CARDS -->
		<div class="container">
			<div class="jobs-list h-auto">
				<div class="my-4 mx-auto" *ngFor="let vacancy of vacancyList">
					<job-card [cardData]="vacancy"></job-card>
				</div>
			</div>
		</div>
	</div>
</div>