.home-content {
	@apply px-20 py-8 h-full;
	overflow-y: auto;
}

.search-bar{
	@apply mb-10;
}

.main{
	@apply flex flex-row;
	
	.sidebar{
		@apply relative;
		min-width: 250px;
		max-height: fit-content;
		
		.filter{
			@apply mb-4;					
		}
	}
	
	.jobs-list{
		@apply bg-blue-200;		
	}
}	




